@import "tailwindcss";
@plugin "daisyui"{
  themes: 
  night
}
.phoneContainer{
  width: 100%;
  
}
.phoneInput{
  background-color: rgb(249 250 251) ; /* bg-gray-50 */
  border: 1px solid rgb(229 231 235) ;
  border-radius: 0.90rem ;
  

}
